@model IList<FileRecordViewModel>
@{
    ViewData["Title"] = "Upload de Imagens";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row text-center">
        <div class="col-12 pb-4">
            <h3 class="display-4">Upload de Imagem:</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 pb-4">
            <input type="file" id="arquivo" name="arquivo" accept="image/png, image/jpeg" />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 pb-4">
            <input type="submit" value="Enviar Arquivo" />
        </div>
    </div>
}

<hr />

<div class="row text-center">
    <div class="col-12 pb-4">
        <h3 class="display-4">Imagens Armazenadas:</h3>
    </div>
</div>

<div class="row text-center">
@foreach (var item in Model)
{
        <div class="col-4 pb-2">
            <a href="@item.FilePath" target="_blank">
                <img width="200" height="200" src="@item.FilePath" alt="@item.FileName" />
                <br />
                @item.FileName
            </a>
        </div>
}
</div>